body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.purple {
    background-color: rgb(219, 163, 255);
}

.header {
    color: white;
    margin: 100px;
    margin-top: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.top-section {
    color: white;
    margin: 0px 100px;
    padding: 0px 15px 50px 15px;
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.title-and-subtext {
    display: flex;
    flex-direction: column;
}

.top-subtext {
    margin-top: 10px;
}

.top-section-button > button {
    width: 75px;
    padding: 5px 0px;
    margin-top: 25px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.right-side {
    display: flex;
}

.image-top {
    width: 400px;
    margin-left: 15px;
}

.second-section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section > h2 {
    text-align: center;
    color: rgb(75, 96, 61);
}

.small-images {
    display: flex;
    justify-content: center;
    width: 600px;
    gap: 40px;
    text-align: center;
    margin: 30px 50px;
}

.leaf > img {
    width: 75px;
}

.green {
    background-color: rgb(199, 255, 163);
    color: rgb(75, 96, 61);
    padding: 30px;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.quote-author {
    font-weight: bold;
}

.call-to-action {
    padding: 50px 100px;
}

.dark-purple {
    background-color: rgb(110, 82, 128);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px
}

.left-call {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
    font-size: larger;
}

.right-call {
    display: flex;
    align-items: center;
}

.right-call > button {
    width: 75px;
    padding: 5px 0px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.foot {
    background-color: rgb(219, 163, 255);
    padding: 20px;
    text-align: center;
    color: white;
}